.App {
    padding: 5%;
    text-align: center;
    font-size: 16px;
}

.truffle-shuffle-gif {
    width: 247px;
    height: 300px;
}

.fade {
    animation-name: fade-in;
    animation-duration: 1.5s;
}

.age-stats {
    opacity: 100;
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 100 }
}